@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/baijamjuree/v11/LDI1apSCOBt_aeQQ7ftydoaMWQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/baijamjuree/v11/LDIqapSCOBt_aeQQ7ftydoa0gebukw.ttf) format('truetype');
}
body {
  background: url('images/bg-header-desktop.png') no-repeat;
  font-family: 'Bai Jamjuree', sans-serif;
}
h1 {
  font-weight: 600;
  font-size: 35px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 18px;
}
p {
  font-weight: 400;
  font-size: 16px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
